In [2]:
import pandas as pd

In [3]:
mylist={"Name":["Rahul","manu","revathy","tom","tinu","mathews","irfan"], "Age":[12,23,21,23,44,45,65]}

In [5]:
df=pd.DataFrame(mylist)
df.head(n=7)
pd.Name.unique()

AttributeError: module 'pandas' has no attribute 'Name'

In [18]:
df.tail(n=3)

      Name  Age
4     tinu   44
5  mathews   45
6    irfan   65

In [19]:
df.describe()

             Age
count   7.000000
mean   33.285714
std    18.589552
min    12.000000
25%    22.000000
50%    23.000000
75%    44.500000
max    65.000000